.data2{
    color:darkorange;
    text-align: flex;
    background-color: blanchedalmond;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.data2 img{
    height: 300px;
    width: 350px;
} 